.footer-section {
  background: #1d293f;
  height: 533px;
  /* width: 1600px; */
  /* left: 127px; */
  top: 0px;
  border-radius: 0px;
}

.image-logo {
  background-color: white;
  border-radius: 50px;
}
