.footer-section {
  background: #1d293f;
  height: 533px;
  /* width: 1600px; */
  /* left: 127px; */
  /* top: 0px;
  border-radius: 0px; */
}

.image-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 4px 10px;
  width: 20%;
  height: 25%;
  /* padding: 10px; */
  border-radius: 50%;
}
