.footer-section {
  background: #1d293f;
  /* height: 533px; */
  /* width: 1600px; */
  /* left: 127px; */
  /* top: 0px;
  border-radius: 0px; */
}

.image-logo {
  position: absolute;
  /* top: 0; */
  margin-top: -120px;
  /* left: -2px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: white;
  padding-top: 140px;
  padding-left: 30px;
  /* width: 25%; */
  /* height: 40%; */
  /* padding: 10px; */
  height: 255px;
  width: 255px;
  left: -30px;
  /* top: -105px; */
  border-radius: 0px;

  border-radius: 50%;
}
.button {
  border: none;
  margin-top: 28px;
  color: white;
  background: #00b6ff;
  padding: 10px 30px;
  border-radius: 10px;
}
.ultimate-email {
  color: white;
  position: absolute;
  margin-top: 180px;
  padding-left: 245px;
  /* height: 84px;
  left: 21.54%;
  right: 63.06%;
  top: calc(50% - 84px / 2 - 108.5px); */
}
.footer-texts {
  color: #ffff;
  display: grid;
  padding-top: 80px;
  padding-left: 50px;
  margin-left: 120px;
  place-items: center;
  margin-top: 180px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 124px;
  border-bottom: 1px solid #8c97ac;
}
.footer-texts h4 {
  color: #8c97ac;
  margin-bottom: 16px;
}
.ultimate-email p {
  width: 40%;
}
.text {
  margin-top: 100px;
  color: #8c97ac;
}

@media only screen and (min-width: 550px) and (max-width: 1200px) {
  .footer-texts {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .text {
    margin-top: 0px;
  }
  .div {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 550px) {
  .footer-texts {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .text {
    margin-top: 0px;
  }
  .div {
    margin-bottom: 40px;
  }
}
