.footer-section {
  background: #1d293f;
  height: 533px;
  /* width: 1600px; */
  /* left: 127px; */
  /* top: 0px;
  border-radius: 0px; */
}

.image-logo {
  position: absolute;
  /* top: 0; */
  margin-top: -30px;
  /* left: -2px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: white;
  padding-top: 100px;
  /* width: 25%; */
  /* height: 40%; */
  /* padding: 10px; */
  height: 255px;
  width: 255px;
  left: 127px;
  /* top: -105px; */
  border-radius: 0px;

  border-radius: 50%;
}
