.footer-section {
  background: #1d293f;
  height: 533px;
  /* width: 1600px; */
  /* left: 127px; */
  /* top: 0px;
  border-radius: 0px; */
}

.image-logo {
  display: flex;
  align-items: center;
  background-color: white;
  /* width: 30%; */
  padding: 20px 10px;
  border-radius: 50%;
}
