.hero-container {
  /* overflow: hidden; */
  position: fixed;
  background: linear-gradient(
    261.8deg,
    #1d293f 59.05%,
    rgba(0, 153, 214, 0.81) 92.75%
  );
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  height: 446px;
  /* width: 1511.9998779296875px; */
  /* left: 0px;
  top: 133px; */
  border-radius: 0px;
}
/* .hero {
  position: relative;
} */
