.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.navbar-nav {
  display: flex;
  gap: 30px;
}
.nav-list ul li {
  height: 43px;
  width: 83px;
  left: 770px;
  top: 36px;
  /* border-radius: nullpx; */
}
.link {
  /* margin-right: 80px; */
  display: flex;
  gap: 10px;
}
.link a {
  color: #4196b8;
  height: 31px;
  width: 111px;
  left: 1221px;
  top: 47px;
  /* border-radius: nullpx; */
}
.burger-img {
  width: 50px;
}
@media only screen and (max-width: 1200px) {
  .navbar-nav {
    display: none;
  }
}
