.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 60px;
  gap: 100px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.logo-div {
  margin-right: 100px;
}
.navbar-nav {
  margin-right: 240px;
  display: flex;
  gap: 30px;
}
.nav-list ul li {
  height: 43px;
  width: 83px;
  left: 770px;
  top: 36px;
  /* border-radius: nullpx; */
}
.link {
  /* margin-right: 80px; */
  display: flex;
  margin-left: 120px;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  gap: 10px;
}
.link a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.015em;
  text-align: left;

  color: #4196b8;
  height: 31px;
  width: 111px;
  left: 1221px;
  top: 47px;
  /* border-radius: nullpx; */
}
.burger-img {
  width: 50px;
}
@media only screen and (max-width: 1200px) {
  .navbar-nav {
    display: none;
  }
  .sidebar-container {
    /* display: inline-block; */
    /* margin: 0 0.5rem; */
    /* animation: slideInRight 2s; */
    /* animation-duration: 2s; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 60%;
    top: 0px;
    right: 0px;
    background-color: #222222;
    position: fixed;
  }
}
