.services-button-section {
  display: flex;
  gap: 20px;
}
.btn-core {
  height: 24px;
  width: 107px;
  left: 599px;
  top: 630px;
  border-radius: nullpx;

  height: 47px;
  width: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: #e9fbff;
  color: #4196b8;
}
.btn-better {
  height: 47px;
  width: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: #e9fbff;
  color: #4196b8;
}
