.version-link {
}
.versions-container {
  margin-top: 80px;
}
.versions-section {
  display: grid;
  place-items: center;

  padding: 0px 50px;

  grid-template-columns: 1fr 1fr;
}
.h2 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  /* text-align: left; */
  /* width: 379px;
  height: 74px; */

  /* font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px; */
}

/* .versions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
} */
.dotted {
  position: absolute;
  margin-top: -20px;
  margin-left: -40px;
}
